* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.237);
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;
    gap: 30px;
}

.box {
    height: 200px;
    width: 200px;
    transition: all 0.3s linear;
}

.red {
    background: url(./img.1.jpeg);
    background-size: cover;
    background-position: center;
}

.blue {
     background: url(./img.2.jpeg);
    background-size: cover;
    background-position: center;
}

.green {
    background: url(img3.jpg);
    background-size: cover;
    background-position: center;
}
.yellow {
    background: url(./chatgpt.png);
    background-size: cover;
    background-position: center;
}

.brown {
    background: url(./img.4.png);
    background-size: cover;
    background-position: center;
}
.anchor {
  background-color: black;
  border-radius: 10px;
  position: absolute;
  top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}

.box:hover {
    anchor-name: --some-anchor;
    transform: scale(1.2)!important; 
     opacity: 0.9!important;
}

body:has(.box:hover) .box {
    opacity: 0.3;
    transform: scale(0.8);
}





